<% provide(:title, "Update details") %>

<%= render partial: "shared/header", locals: { pages: [@project.name, "Runs", "##{@run.id}"] } %>
<div class="container" style="width: 1200px; margin: auto;">
  <h3 class="border-bottom my-3 pb-2">Update run</h3>
  <div class="card">
    <div class="card-header text-body-secondary">Update logs</div>
    <div class="card-body">
      <div class="text-mono text-small my-1 overflow-auto">
        <% @run.log_entries.where(:level.gte => 1).order_by(id: :asc).each do |entry| %>
          <div class="text-start text-wrap font-monospace"><%= "#{entry.timestamp.strftime('%Y-%m-%d %H:%M:%S %Z')} | #{LogLevel.to_s(entry.level)}: #{entry.message}" %></div>
        <% end %>
      </div>
    <div>
  </div>
</div>
